<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
  .reload {
    font-family: Lucida Sans Unicode
  }
</style>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>ImageCoDe</title>
<!--     <link rel="icon" href="https://mcgill-nlp.github.io/topiocqa/topiocqa_no_background.png"> -->

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4285f4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner" style="background-image: linear-gradient(120deg, #6a7ed7, #966ad7);">
<!--       <h2 class="project-name"><img src="topiocqa_no_background.png" alt="logo" width="100" height="100" style="margin-bottom: -20px;"/>ImageCoDe: Image Retrieval from Contextual Descriptions</h2> -->
      <h2 class="project-name">ImageCoDe: Image Retrieval from Contextual Descriptions</h2>
      <h2 class="project-tagline">Benno Krojer, Vaibhav Adlakha, Vibhav Vineet, Yash Goyal, Edoardo Ponti, Siva Reddy</h2>
      <a href="https://arxiv.org/abs/2203.15867" target='_blank' class="btn">Paper</a>
      <a href="https://github.com/McGill-NLP/imagecode" target='_blank' class="btn">Dataset and code on GitHub</a>
      <a href="https://huggingface.co/datasets/BennoKrojer/ImageCoDe" target='_blank' class="btn">HuggingFace Datasets Page</a>
    </header>
    
    <div class='container'>
    <div class="col-md-2">
    <main id="content" class="main-content" role="main">
      <h1 class="dataset-explorer" style="color: #d7816a;">Overview</h1>
        <p>We introduce ImageCoDe, a <b> vision-and-language benchmark that requires contextual language understanding </b> in the form of pragmatics, temporality, long descriptions and visual nuances.
           We establish baselines that incorporate increasing levels of context and analyse shortcoming of models.</p>
      <h1 class="dataset-explorer" style="color: #d7816a;">Leaderboard</h1>
      In order to submit to the leaderboard, please read the <a href=https://github.com/McGill-NLP/imagecode#leaderboard>README section</a> that provides details on data formatting (it's a short read and process!).
      <table>
        <tr>
          <th>Rank</th>
          <th>Model</th>
          <th>Accuracy in % (video & static)</th>
        </tr>
        <tr>
          <td style='text-align:center; vertical-align:middle'> <div> <b> 1 </b> </div> 31 Mar, 2022 </td>
          <td style='text-align:center; vertical-align:middle'> <a href="https://arxiv.org/abs/2203.15867"> Human Performance </a> </td>
          <td style='text-align:center; vertical-align:middle'>90.8 </td>
        </tr>
        
        <tr>
          <td style='text-align:center; vertical-align:middle'> <div> <b> 2 </b> </div> 25 Dec, 2022 </td>
          <td style='text-align:center; vertical-align:middle'> <div> NDCR-v2 </div> Anonymous </td>
          <td style='text-align:center; vertical-align:middle'>34.1 (26.1 & 64.3) </td>
        </tr>
        
        <tr>
          <td style='text-align:center; vertical-align:middle'> <div> <b> 2 </b> </div> 5 Dec, 2022 </td>
          <td style='text-align:center; vertical-align:middle'> <div> NDCR </div> Anonymous </td>
          <td style='text-align:center; vertical-align:middle'>32.6 (24.4 & 63.5) </td>
        </tr>
        
        <tr>
          <td style='text-align:center; vertical-align:middle'> <div> <b> 3 </b> </div> 31 Mar, 2022 </td>
          <td style='text-align:center; vertical-align:middle'> <a href="https://arxiv.org/abs/2203.15867"> <div> Baseline: ContextualCLIP </div> </a> Mila / McGill University </td>
          <td style='text-align:center; vertical-align:middle'>29.9 (22.0 & 59.8) </td>
        </tr>
      
        <tr>
          <td style='text-align:center; vertical-align:middle'> <div> <b> 4 </b> </div> 1 May, 2022 </td>
          <td style='text-align:center; vertical-align:middle'> <div> DCIG </div> Harbin Institute of Technology </td>
          <td style='text-align:center; vertical-align:middle'>28.4 (21.1 & 56.1) </td>
        </tr>
      </table>
      
      <h1 class="dataset-explorer" style="color: #d7816a;">Examples</h1>
      Explore ImageCoDe in our <a href="https://huggingface.co/spaces/BennoKrojer/imagecode-demo"> interactive demo </a> where you can sample examples from the validation set and guess yourself (it's a fun but challenging task!).
      <hr>
        <p>For queries and clarifications please contact <b> benno.krojer (at) mila (dot) quebec </b></p>
      {{ content }}
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
      </div>
    </div>
  </body>
</html>
