<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
  .reload {
    font-family: Lucida Sans Unicode
  }
</style>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>ImageCoDe</title>
<!--     <link rel="icon" href="https://mcgill-nlp.github.io/topiocqa/topiocqa_no_background.png"> -->

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4285f4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner" style="background-image: linear-gradient(120deg, #6a7ed7, #966ad7);">
<!--       <h2 class="project-name"><img src="topiocqa_no_background.png" alt="logo" width="100" height="100" style="margin-bottom: -20px;"/>ImageCoDe: Image Retrieval from Contextual Descriptions</h2> -->
      <h2 class="project-tagline">Benno Krojer, Vaibhav Adlakha, Vibhav Vineet, Yash Goyal, Edoardo Ponti, Siva Reddy</h2>
      {% if site.github.is_project_page %}
        <a href="https://openreview.net/forum?id=ObaBB7DvM4" target='_blank' class="btn">View paper</a>
      {% endif %}
      <a href="https://github.com/McGill-NLP/imagecode" target='_blank' class="btn">View code on GitHub</a>
<!--       <a href="https://zenodo.org/record/6193037/files/topiocqa.zip?download=1" class="btn">Download dataset</a> -->
      {% if site.show_downloads %}
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <h1 class="dataset-explorer" style="color: #d7816a;">Overview</h1>
        <p>We introduce a new information-seeking conversational dataset with challenging topic switching phenomenons, and evaluate state-of-the-art Question Answering models on it. </p>
        <p>The paper is available on <a href="https://arxiv.org/abs/2110.00768">arXiv</a> and the code to replicate the experiments can be found on <a href="https://github.com/McGill-NLP/topiocqa">GitHub</a>. The dataset can be downloaded from <a href="https://mcgill-nlp.github.io/topiocqa/topiocqa.zip">here</a>. The interactive demo below loads a random conversation from the training set.</p>
        <p>For queries and clarifications please contact <b> benno.krojer (at) mila (dot) quebec </b></p>
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
